<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Application Management System</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Application Management System</h1>
  <hr>
  <h2>Update Application</h2>

  <form action="#" th:action="@{/updateLoanApplicationStatus}" th:object="${loanApplication}" method="POST">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{aid}">
    <input type="hidden" th:field="*{id}">
    <p>Name:</p>
    <input type="text" th:field="*{name}"
           placeholder="Full Name" class="form-control mb-4 col-4">

    <input type="hidden" th:field="*{address}"
           placeholder="Street Address, City, State, Zip" class="form-control mb-4 col-4">

    <input type="hidden" th:field="*{phoneNo}"
           placeholder="Phone Number" class="form-control mb-4 col-4">

    <input type="hidden" th:field="*{social}"
           placeholder="Social Security Number" class="form-control mb-4 col-4">

    <input type="hidden" th:field="*{birthDay}"
           placeholder="Birth Date (MM/DD/YYYY)" class="form-control mb-4 col-4">
    <p>Gross Monthly Income:</p>
    <input type="text" th:field="*{income}"
           placeholder="Gross Monthly Income" class="form-control mb-4 col-4">
    <p>Desired Loan Amount:</p>
    <input type="text" th:field="*{loanAmount}"
           placeholder="Loan Amount" class="form-control mb-4 col-4">
    <div>
      <p>Loan Type: </p>
      <select th:field="*{loanType}">
        <option th:value="'Personal'" th:text="Personal"></option>
        <option th:value="'Business'" th:text="Business"></option>
        <option th:value="'Auto'" th:text="Auto"></option>
        <option th:value="'Renovation'" th:text="Renovation"></option>
        <option th:value="'Project'" th:text="Project"></option>
      </select>
    </div>
    <div>
      <br>
      <p> Loan Status: </p>
      <select th:field="*{status}">
        <option th:value="'Pending Initial Review'" th:text="Pending_Initial_Review"></option>
        <option th:value="'Denied'" th:text="Denied"></option>
        <option th:value="'Approved Pending Final Review'" th:text="Approved_Pending_Final_Review"></option>
        <option th:value="'Accepted'" th:text="Accepted"></option>
      </select>
    </div>
    <div>
      <p>If Approved, set terms below: </p>
      <p>Interest Rate:</p>
      <input type="text" th:field="*{interest}"
             placeholder="Interest Rate" class="form-control mb-4 col-4">
      <p>Loan Term (years): </p>
      <select th:field="*{term}">
        <option th:value="'five'" th:text="five"></option>
        <option th:value="'ten'" th:text="ten"></option>
        <option th:value="'fifteen'" th:text="fifteen"></option>
        <option th:value="'twenty'" th:text="twenty"></option>
      </select>
    </div>
    <div>
      <br>
    <button type="submit" class="btn btn-info col-2"> Save </button>
    </div>
  </form>

  <hr>

  <a th:href="@{/employeeMenu}"> Back to Home</a>
</div>
</body>
</html>