<!DOCTYPE html>
<html>

<head>
    <title>eFinance | Apply for a Loan</title><br>
    <img
            src="https://th.bing.com/th/id/R.b0ac83b4cb21b06ed7e55ed87570ff9f?rik=tmZ7qg3Mk13q%2fg&riu=http%3a%2f%2fimage.guardian.co.uk%2fsys-images%2fGuardian%2fDocumentaries%2fTextBlocks%2f1999%2f11%2f23%2fefinance_256sq.gif&ehk=9h8140Id7Ij%2bDIRWZQUfApB9N9StnoB2rbBCP1vOVss%3d&risl=&pid=ImgRaw&r=0"
            width="150">

    <script>
        /* Put your own JavaScript code BELOW this line */
        function validate() {
            var testTaker = '';

            if (testTaker) {
                alert('Please fill out all sections.');
            }
        }
        /* Put your own JavaScript code ABOVE this line */
        window.addEventListener('load', function() {
            /*
             * Tell what the "action" attribute should be set to
             */
            const page = window.location.pathname.split("/").pop();
            const e = window.location.href;
            const dir = e.substr(0, e.lastIndexOf("/"));
            const correctAction = `${dir}/submit.html`;
            const formElt = document.querySelector("form#info");
            const currentAction = formElt.getAttribute("action");

            if (currentAction != correctAction) {
                const warningElt = document.querySelector("div#warning");
                const msg = `Edit your <code>${page}</code> so that the form action is: <br><code>${dir}/submit.html</code><br>`;
                warningElt.innerHTML = `<span style="color:red">${msg}</span>`;
            }
        });
    </script>
</head>

<body>
<br>

<body>
<form id="info" action="file:///C:/Users/ameli/Downloads/submit.html" name="sign-up">
    <fieldset>
        <legend>Loan Application</legend>
        <label>First Name:</label>
        <input name="first name" type="text" id="first name" required />
        <label>Middle Initial:</label>
        <input name="middle initial" type="text" id="middle initial" maxlength="1" /><br><br>
        <label>Last Name:</label>
        <input name="last name" type="text" id="last name" required />
        <label>SSN:</label>
        <input name="social" type="text" id="social" required /><br><br>
        <label>DOB:</label>
        <input name="birthday" type="date" id="birthday" min="1920-01-01" max="2000-12-31" required />
        <p>
        <fieldset>
            <legend>Contact Information:</legend>
            <input name="cell" type="radio" value="y" />
            <label>Cell</label>
            <input name="home" type="radio" value="n" />
            <label>Home</label><br><br>
            <label>Phone Number:</label>
            <input name="phone" type="tel" id="phone" required />
            <label>Email:</label>
            <input name="gmail" type="email" id="gmail" required />
        </fieldset>
        </p>

        <fieldset>
            <legend>Address:</legend>
            <label>Street address:</label>
            <input name="st" type="text" id="st" required />
            <label>City:</label>
            <input name="city" type="text" id="city" required /><br><br>
            <label for="state">State:</label>
            <select name="state" id="state">
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DC">DC</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="IA">IA</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>
                <option value="ME">ME</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>
                <option value="WV">WV</option>
                <option value="WY">WY</option>
                <option value="AS">AS</option>
                <option value="GU">GU</option>
                <option value="MP">MP</option>
                <option value="PR">PR</option>
                <option value="UM">UM</option>
                <option value="VI">VI</option>
            </select>
            <label>ZIPcode:</label>
            <input name="zipcode" type="text" id="zipcode" pattern="[0-9]{5}" input type="submit" required />
        </fieldset>
        <p>
        <fieldset>
            <legend>Type of Loan:</legend>
            <select name="Loan">
                <option value="personal">Personal Loan</option>
                <option value="business">Business Loan</option>
                <option value="car">Car Loan</option>
                <option value="project">Project Loan</option>
                <option value="renovation">Renovation Loan</option>
            </select>
            <label>Amount of Loan:</label>
            <input name="amount" type="number" id="amount" />
            <label>Monthly Income:</label>
            <input name="income" type="number" id="income" />
        </fieldset>
        </p>
        <br>
        <button type="submit" onclick="return validate();">Submit</button>
    </fieldset>
</form>

</body>

</html>