<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Main Menu</title>
</head>
<body>
<h1>Main Menu</h1>
<p>Please select one of the following actions: </p>
<a th:href = "@{/showNewApplicationForm}" class="btn btn-primary btn-sm mb-3"> Create Application </a> |
<a th:href = "@{/showReviewApplicationForm}" class="btn btn-primary btn-sm mb-3"> Review Application </a> |
<a th:href = "@{/showMakePaymentForm}" class="btn btn-primary btn-sm mb-3"> Make a Payment </a>
<br>
<a th:href = "@{/logout}" class="btn btn-primary btn-sm mb-3"> Log out </a>
</body>
</html>