<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Main Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body>
<h1>Main Menu</h1>

<p>Please select one of the following actions: </p>
<form action="#" th:action="@{/showNewApplicationForm/{id}(id=${customer.id})}" th:object="${customer}" method="GET">

    <input type="hidden" th:field="*{id}" />
    <button type="submit" class="btn btn-info col-2"> Create New Application </button>

</form>
<br>
<form action="#" th:action= "@{/showReviewApplicationForm}" th:object="${customer}" method="GET">
    <input type="hidden" th:field="*{id}" />
    <button type="submit" class="btn btn-info col-2"> Review Application </button>
</form>
<br>
<form action="#" th:action= "@{/showMakePaymentForm}" th:object="${customer}" method="GET">
    <input type="hidden" th:field="*{id}" />
    <button type="submit" class="btn btn-info col-2"> Make a Payment </button>
</form>

<br>
<a th:href = "@{/logout}" class="btn btn-primary btn-sm mb-3"> Log out </a>
</body>
</html>