<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eFinance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> Login </h1>

    <p>Welcome to eFinance! Please enter your username and password to log in.</p>

    <form action="#" th:action="@{/validateCustomerLogin}" th:object="${customer}" method="GET">

        <input type="text" th:field="*{custEmail}"
               placeholder="Email" class="form-control mb-4 col-4">

        <input type="text" th:field="*{custPassword}"
               placeholder="Password" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Login </button>
    </form>
</div>
<div class="container my-2">
    <br/>
    <a th:href="@{/showNewCustomerForm}" class="btn btn-primary"> Create Account </a>
    <a th:href="@{/findCustomerPassword}" class="btn btn-primary"> Find Password </a>
    <br/>
</div>
</body>

</html>