<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>View application detail</title>
</head>
<body>
&lt;
<a th:href="@{/employeeMenu}"> Back to Home</a><table border="1" class="table table-striped table-responsive-md">
  <thead>
  <h1> Review Application </h1>

  <p>Review your loan details here</p>
  <tr>
    <p>Customer Name:</p>
    <input type="text" th:field="*{name}"
           placeholder="Full Name" class="form-control mb-4 col-4">

    <input type="hidden" th:field="*{address}"
           placeholder="Street Address, City, State, Zip" class="form-control mb-4 col-4">

    <input type="hidden" th:field="*{phoneNo}"
           placeholder="Phone Number" class="form-control mb-4 col-4">

    <input type="hidden" th:field="*{social}"
           placeholder="Social Security Number" class="form-control mb-4 col-4">

    <input type="hidden" th:field="*{birthDay}"
           placeholder="Birth Date (MM/DD/YYYY)" class="form-control mb-4 col-4">
    <input type="hidden" th:field="*{income}"
           placeholder="Gross Monthly Income" class="form-control mb-4 col-4">
    <p>Loan Balance:</p>
    <input type="text" th:field="*{loanAmount}"
           placeholder="Loan Balance" class="form-control mb-4 col-4">
    <p>Interest Rate:</p>
    <input type="text" th:field="*{interestRate}"
           placeholder="Interest Rate"  class="form-control mb-4 col-4">
    <p>Repayment Period:</p>
    <input type="text" th:field="*{repaymentPeriod}"
           placeholder="Repayment Period"  class="form-control mb-4 col-4">
  </tr>
  </thead>
  <tbody>


  </tbody>
</table>

</body>
</html>